{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content">
                <div class="intro-y flex items-center mt-8">
                    <h2 class="text-lg font-medium mr-auto">
                        IP Blocker
                    </h2>
                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    <div class="intro-y col-span-12 lg:col-span-6">


                            <div class="intro-y col-span-12 lg:col-span-6">
                                <!-- BEGIN: Input -->
                                <div class="intro-y box">

                                    <div id="input" class="p-5">
                                        <div class="preview">
                                            <div>
                                                <h2 class="font-medium text-base mr-auto">
                                                    Specific IP
                                                </h2>
                                                <table class="table">
                                                    <td><input id="regular-form-1" type="text" class="form-control" style="width:290px" placeholder="Specific IP"></td>
                                                    <td> <button class="btn btn-primary w-24 mr-10 mb-2">Add</button></td>
                                                </table>


                                            </div>
                                            <div class="mt-3">
                                                <h2 class="font-medium text-base mr-auto">
                                                    Range of IPs
                                                </h2>
                                                <table class="table">
                                                    <td><input id="regular-form-1" type="text" class="form-control" placeholder="From"></td>
                                                    <td><input id="regular-form-1" type="text" class="form-control" placeholder="To"></td>
                                                    <td> <button class="btn btn-primary w-24 mr-1 mb-2">Add</button></td>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END: Input -->
                        <!-- BEGIN: Striped Rows -->
                        <div class="intro-y box mt-5">

                            <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60">
                                <h2 class="font-medium text-base mr-auto">
                                   Blocked IPs
                                </h2>

                            </div>
                            <div class="p-5" id="striped-rows-table">
                                <div class="preview">
                                    <div class="overflow-x-auto">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="whitespace-nowrap">#</th>
                                                    <th class="whitespace-nowrap">IP</th>

                                                    <th class="whitespace-nowrap">Blocked</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>245.35.65.11</td>
                                                    <td>-</td>
                                                    <td><div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">
                                                        <input id="show-example-1" data-target="#basic-dropdown" class="show-code form-check-input mr-0 ml-3" type="checkbox"checked>

                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>143.54.55.69</td>
                                                    <td>143.54.55.254</td>
                                                    <td><div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">
                                                        <input id="show-example-1" data-target="#basic-dropdown" class="show-code form-check-input mr-0 ml-3" type="checkbox"checked>
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>241.56.55.21</td>
                                                    <td>241.56.55.197</td>
                                                    <td><div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">
                                                        <input id="show-example-1" data-target="#basic-dropdown" class="show-code form-check-input mr-0 ml-3" type="checkbox">
                                                    </div></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>243.54.89.63</td>
                                                    <td>-</td>
                                                    <td><div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">
                                                        <input id="show-example-1" data-target="#basic-dropdown" class="show-code form-check-input mr-0 ml-3" type="checkbox"checked>
                                                    </div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- END: Striped Rows -->

                    </div>
                </div>
</div>


        




<!-- BEGIN: Dark Mode Switcher-->
<div data-url="{% url 'main:ip-blocker-dark'%}" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box dark:bg-dark-2 border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
     <div class="mr-4 text-gray-700 dark:text-gray-300">Dark Mode</div>
     <div class="dark-mode-switcher__toggle border"></div>
</div>
<!-- END: Dark Mode Switcher-->
{% endblock content %}
